@import 'src/shared/ui/styles/shared';

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;

  tbody tr {
    transition: 200ms all ease-in-out;
    cursor: pointer;

    &:hover {
      background: $gray-100-light;
    }

    @media (prefers-color-scheme: dark) {
      &:hover {
        background: $gray-100-dark;
      }
    }
  }

  th {
    padding-bottom: .5rem;
    font-size: 1.25rem;
    font-family: 'JetBrains Mono', monospace;
    text-align: left;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  td {
    padding: 1rem 0;
    font-size: 1.25rem;
    font-family: 'IBM Plex Sans', sans-serif;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  tr:not(:last-child),
  thead tr {
    border-bottom: 1px solid;
  }

  @media screen and (max-width: 864px) {
    th {
      padding: 0 1rem;
    }

    td {
      padding: 1rem;
    }

    &__wrapper {
      overflow-x: scroll;
    }
  }

  &__spinner {
    display: block;
    margin-top: 1rem;
  }
}
