@import 'src/application/shared';

.table {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border-collapse: collapse;

  tbody tr {
    transition: 200ms all ease-in-out;
    cursor: pointer;

    &:hover {
      background: $gray-100-light;
    }

    @media (prefers-color-scheme: dark) {
      &:hover {
        background: $gray-100-dark;
      }
    }
  }

  th {
    font-size: 1.25rem;
    font-family: 'JetBrains Mono', monospace;
    text-align: left;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  td {
    padding: 1rem 0;
    font-size: 1.25rem;
    font-family: 'IBM Plex Sans', sans-serif;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  tr:not(:last-child),
  thead tr {
    border-bottom: 1px solid;
  }
}
