@import 'src/application/shared';

.table {
  width: 100%;
  margin-top: 2rem;

  th {
    font-size: 1.1rem;
    font-family: 'JetBrains Mono', monospace;
    text-align: left;
  }

  td {
    font-family: 'IBM Plex Sans', sans-serif;

    &:first-child {
      text-align: left;
    }
  }
}
