@import '../../../application/shared';

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;

  &__page {
    width: 2.5rem;
    height: 2.5rem;
    font-family: 'JetBrains Mono', monospace;
    background: $gray-100-light;
    border-radius: .5rem;
    transition: 250ms all ease-in-out;

    &:hover {
      background: $gray-300-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $white;
      background: $gray-100-dark;

      &:hover {
        background: $gray-300-dark;
      }
    }
  }

  &__page_active,
  &__page_active:hover {
    color: $white;
    background: $blue-500-light;

    @media (prefers-color-scheme: dark) {
      color: $white;
      background: $blue-500-dark;
    }
  }
}
